body{
    color: white;
    background-color: black;
    font-size: 20px;
    padding: 20px;
}

div.counter{
    display: flex;
}

div.counter div{
    font-size: 3em;
    margin: 5px;
}

div.counter.total.kiriban div{
    font-size: 4em;
    animation: flash 1s infinite; /* アニメーションflashを1秒ごとに繰り返す */
}

@keyframes flash {
    0%, 100% {
        /* 明るく光るよう影を重ねる */
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    50% {
        /* 淡く光るよう影を重ねる */
        text-shadow: 0 0 10px #fff, 0 0 20px #fcfcfc, 0 0 30px #fcfcfc, 0 0 40px #fc00de;
    }
}